.container{
    padding: 20px 20px 20px 0px;

}

h2 {
    color: #690605;
    border-left: 4px solid #690605;
    padding-left: 10px; /* Ajusta el espaciado entre la rayita y el texto */
    height: 40px;
}