h3{
    display: flex;
    justify-content: center;
    align-items: center;    
    color: #690605;
}

.card{

    margin-bottom: 24px;
    width: 100%;
    display: flex;
    justify-content: center;

}

.custom-card {
    border: 1px solid #690605; /* Cambia el color del contorno a rojo */
    border-radius: 0.55rem; /* Mantén el radio de borde predeterminado de Bootstrap */
    margin-bottom: 20px;
}

.illustration-img{
    max-width: 150px;
    width: 100%;
}

.btn-ver{
    background-color: #690605;
    color: #ffffff;
  }
  
  .btn-ver:hover{
    background-color: #373737;
    color: #ffffff;
  }

.card-img-top{
    height: 150px;
}

.modal-content {
    left: -70px;
    width: 700px;
    height: 90vh;
    overflow-y: auto;
}

