h3{
    display: flex;
    justify-content: center;
    align-items: center;    
    color: #690605;
}

.card{
    box-shadow: 0 0 .875rem 0 rgba(5, 46, 60);
    margin-bottom: 24px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #690605;
}

.illustration{
    background-color: white;
   
}

.illustration-img{
    max-width: 150px;
    width: 100%;
}

.btn{
    background-color: #690605;
    border-style: none;
}

.btn:hover{
    background-color: #590503;
}

.card-img-top{
    height: 150px;
}

.modal-content {
    left: -70px;
    width: 700px;
    height: 90vh;
    overflow-y: auto;
}

