.container_main{
    width: 100%;
    font-family: 'Poppins', sans-serif;
    margin-top: 150px;

}
.card{
    border: none;
}

.custom-card{
   
    margin: auto;
    
    display: flex;
    justify-content: space-between;
    position: relative;
    background-size: cover;
    background-position: bottom;
}
.card-body{
    padding: 0;
    width: 600px;
}
.container_main .container__info{
    max-width: 553px;
    margin-bottom: 20px;
    z-index: 2;
}

.container_main h1{
    max-width: 700px;
    font-size: 60px;
    font-weight: 900;
    color: #373737;
}

.container_main h2{
    font-size: 62px;
    font-weight: 900;
    color: #690605;
    margin-top: -30px;
}

.container_main p{
    margin-top: 10px;
    color: #373737;
    text-align: justify;
    margin-bottom: 20px;
}

.container_main .custom-card-carrusel{
    max-width: 563px;
    margin-bottom: 20px;
}

.custom-card-carrusel img{
    max-width: 563px;
    height: 300px;
}

/*PARA NOTIFICACION*/
.notificacion{
    position: absolute;
    bottom: 50px;
    left: 50px;
    width: max-content;
    padding: 20px 15px;
    border-radius: 4px;
    background-color: #141619;
    color: #f6f5f9;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    transform: translateY(30px);
    opacity: 0;
    visibility: hidden;
    animation: fade-in 7s linear forwards;
}

.notificacion_progreso{
    position: absolute;
    left: 5px;
    bottom: 5px;
    width: calc(100% - 10px);
    height: 3px;
    transform: scaleX(0);
    transform-origin: left;
    background-image: linear-gradient(to right,
    #383838, #ff0000);
    border-radius: inherit;
    animation: load 6s 0.25s linear forwards;
}

@keyframes fade-in {
    5% {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
    90% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes load {
    to {
        transform: scaleX(1);
    }
}