@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.imgLogo{
    max-width: 60px;
    width: auto;
}

.btn.btn-tramites{
    background-color: #690605;
    color: white;
}

.container__all{
    position: relative;
    right: 0;
    transition: all 300ms;
}

header{
    width: 100%;
    height: 100px;
    font-family: 'Poppins', sans-serif;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1050;
background-color: white;
    transition: all 300ms;
}

.modal-z-index{
    z-index: 1051;
    background-color: #690605;
    position: fixed;
}

.move_content{
    right: 180px;
}

.container__header{
    max-width: 1200px;
    height: 100%;  
    display: flex;
    justify-content: space-between; 
    margin: auto;
    padding: 0px 20px;
}

header .logo{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 150px;
}

.container__nav{
    position: relative;
    height: 100%;
}

nav{
    height: 100%;
}

nav ul{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li{
    margin: 0px 10px;
    list-style: none;

}

nav ul li a{
    background-color: white;
    color: #373737;
    font-size: 14px;
    text-decoration: none;
    padding: 10px;
    white-space: nowrap;
    border-radius: 12px;
}

.prueba {
    background-color: #690605;
    height: 50px;
    width: 50px;
    position: fixed;
    top: 45%;
    right: 0;
    border-radius: 30px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.prueba2 {
    background-color: #690605;
    position: fixed;
    height: 50px;
    width: 50px;
    top: 55%;
    right: 0;
    border-radius: 30px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconoOpciones{
    color: white;
    font-size: 24px;
}

nav ul li a:hover{
    background-color: #690605;
    color: white;
    padding: 10px;
    white-space: nowrap;
    border-radius: 12px;
}

.select{
    background: #690605;
    padding: 10px;
    color: white;
    border-radius: 12px;
}

.nav_mod{
    height: 70px;
    box-shadow: 1px 1px 10px 0px #00000010;
    background: white;
}
/*Estilos aplicados en las opciones de cada menu desplegable en principal*/
.dropdown-menu.show li a {
   
    padding: 10px 15px;
    color: #373737;
    text-decoration: none;
    font-size: 14px;
}

.dropdown-menu.show li a:hover {
    background-color: #690605;
    color: white;
}
.dropdown-menu.calendario{
    min-height: 100px; 
}
.dropdown-menu.planes{
    min-height: 180px; 
}

.btn__menu{
    width: 50px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background 300ms;
    display: none;
}

.btn__menu:hover{
    background: #f5f5f5;
}

/*COVER*/

.cover{
    width: 100%;
    padding-bottom: 60px;
    font-family: 'Poppins', sans-serif;
    margin-top: 100px;
}

.container__cover{
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    position: relative;

    background-image: url(../images/background-cover.svg);
    background-size: cover;
    background-position: bottom;
}

.cover .container__info{
    max-width: 553px;
    margin-top: 40px;
    z-index: 2;
}

.cover h1{
    max-width: 400px;
    font-size: 60px;
    font-weight: 900;
    color: #373737;
}

.cover h2{
    font-size: 62px;
    font-weight: 900;
    color: #690605;
    margin-top: -30px;
}

.cover p{
    margin-top: 10px;
    color: #373737;
    text-align: justify;
}

.cover input[type="button"]{
    padding: 10px 40px;
    margin-top: 40px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    color: white;
    background: #690605;
    border-radius: 20px;
    box-shadow: 1px 1px 30px -5px #20202049;
    cursor: pointer;
    transition: box-shadow 500ms;
}

.cover input[type="button"]:hover{
    box-shadow: 1px 1px 30px -5px #20202085;
}


.container__vector{
    position: relative;
}

.container__vector img{
    bottom: -80px;
    right: 0px;
    width: 500px;
    height: 300px;
    animation: move_vector 6s ease-in-out infinite;
    transition: all 300ms;
}

@keyframes move_vector {
    0%{
        transform: translateY(10px);
    }
    25%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(10px);
    }
}

@media screen and (max-width: 920px){
    .container__vector img{
        width: 500px;
    }
}


@media screen and (max-width: 760px){

    .container__nav{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btn__menu{
        display: flex;
    }

    nav{
        height: 100%;
        background: #F1FAFF;
        position: fixed;
        top: 0;
        right: -180px;
        padding: 0 40px;
        transition: all 300ms;
    }

    .move_nav{
        right: 0px;
    }

    nav ul{
        flex-direction: column;
    }

    nav ul li{
        margin: 20px 0px;
    }

    .container__vector img{
        transform: scale(0);
        animation: none;
    }
}

