@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* CSS General de la pagina */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.imgLogo{
    max-width: 60px;
    width: auto;
}

/*AQUI COMIENZA EL FOOTER*/
footer {
    width: 100%;
    font-family: 'Nunito', sans-serif;
    background-image: url("/images/background-footer.svg");
    background-size: cover;
}

.footer-margen{
    margin-top: 100px;
}

/* CSS para los bones flotantes, en este caso los que dicen Otros Enlaces*/
.iconos-footer {
    font-size: 1rem; /* Ajusta el tamaño del icono según sea necesario */
    color: #690605; /* Ajusta el color del icono según sea necesario */
}

.expediente:hover {
    background-color: #690605;  
    color: white;          
    
  }
.btn-light {
    background-color: #f8f9fa; /* Fondo claro */
    border: none; /* Sin borde */
    border-radius: 50%; /* Hace que el contenedor sea circular */
    width: 40px; /* Ajusta el ancho del contenedor */
    height: 40px; /* Ajusta la altura del contenedor */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
}

.btn-light:hover {
    background-color: #e0e0e0; /* Fondo más oscuro al pasar el cursor */
}

/* CSS para los demás elementos del footer */
.footer-margen h2{
    margin-bottom: 30px;
    color: #ffffff;
    font-weight: 700;
}

.expediente .dropdown-item:hover {
    background-color: transparent;
    color: #ffffff; 
    box-shadow: none;
    outline: none;
}

.expediente {
    background-color: #690605;
}

.titulos-footer{
    background-color: #690605;
}

.titulos-footer a{
    margin-top: 10px;
    color: #ffffff;
    font-weight: 600;
    text-decoration: none;
    
    transition: 0.4s;
}

.titulos-footer a:hover{
    color: #ffffff;
    padding-left: 2px;
}


.titulos-footer a .fab{
    font-size: 20px;
}

/* CSS para crear la linea blanca debajo de los titulos en el footer */
.footer-margen h2::after {
    content: '';
    display: block;
    width: 100px; /* Ajusta el ancho de la línea */
    height: 4px; /* Ajusta el grosor de la línea */
    background-color: white; /* Color de la línea */
    margin: 0;
    border-radius: 2px; /* Redondea las esquinas de la línea */
}

/* CSS para la ultima lina del footer */
.creditos{
    margin-top: 80px;
    color: white;
}

.box__footer .logo img{
    width: 180px;
}

/* FLECHA que indica la info del footer */
.fa-chevron-down{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #690605;
}

.fa-chevron-down {
    transition: transform 0.2s ease; /* Transición suave de 0.2 segundos */
}

.fa-chevron-down:hover {
    transform: translateY(5px); /* Desplazar 2px hacia abajo al pasar el cursor */
}

