@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.container_tablee{
    height: 20vh;
    margin: auto;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    position: relative;
    background-size: cover;
    background-position: bottom;
    overflow: hidden;
    background-color: #690605;
}

#h {
    position: absolute;
  top: 50%; /* Posiciona el texto 50% desde la parte superior */
  left: 50%; /* Posiciona el texto 50% desde la izquierda */
  transform: translate(-50%, -50%);
    color: rgb(255, 255, 255); /* Cambia "blue" por el color que desees */
  }

  h3{
    max-width: 1000px;
    font-size: 40px;
    font-weight: 900;
}