.title-text {
    color: #690605;
    font-size: 2.0rem; /* Ajusta el tamaño de la fuente */
    font-weight: 900;
    margin: 0;
}

.margen-titulo{
    margin-top: 110px;

}

/* Responsive adjustments */
@media (max-width: 768px) {
    .title-text {
        font-size: 2rem;
    }
}

@media (max-width: 576px) {
    .title-text {
        font-size: 1.5rem;
    }
}
