@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.container__header{
    max-width: 1200px;
    height: 100%;  
    display: flex;
    justify-content: space-between; 
    margin: auto;
    padding: 0px 20px;
}

header .logo{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 150px;
}

nav ul li{
    margin: 0px 10px;
    list-style: none;

}

nav ul li a{
    background-color: white;
    color: #373737;
    font-size: 14px;
    text-decoration: none;
    padding: 10px;
    white-space: nowrap;
    border-radius: 12px;
}

.prueba {
    background-color: #690605;
    height: 50px;
    width: 50px;
    position: fixed;
    top: 45%;
    right: 0;
    border-radius: 30px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.prueba2 {
    background-color: #690605;
    position: fixed;
    height: 50px;
    width: 50px;
    top: 55%;
    right: 0;
    border-radius: 30px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconoOpciones{
    color: white;
    font-size: 24px;
}

nav ul li a:hover{
    background-color: #690605;
    color: white;
    padding: 10px;
    white-space: nowrap;
    border-radius: 12px;
}

.select{
    background: #690605;
    padding: 10px;
    color: white;
    border-radius: 12px;
}

.nav_mod{
    height: 70px;
    box-shadow: 1px 1px 10px 0px #00000010;
    background: white;
}

.cover{
    width: 100%;
    padding-bottom: 60px;
    font-family: 'Poppins', sans-serif;
    margin-top: 100px;
}

.container_table{
    max-width: 86%;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    position: relative;
    background-size: cover;
    background-position: bottom;
    overflow: hidden;
    
}

.container_tablee{
    height: 84vh;
    margin: auto;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    position: relative;
    background-size: cover;
    background-position: bottom;
    overflow: hidden;
    background-color: #690605;
}
.container{
    background-color: white;
}
#h {
    position: absolute;
  top: 50%; /* Posiciona el texto 50% desde la parte superior */
  left: 50%; /* Posiciona el texto 50% desde la izquierda */
  transform: translate(-50%, -50%);
    color: rgb(255, 255, 255); /* Cambia "blue" por el color que desees */
  }
  i.typesIcon {
    font-size: 100px; /* Tamaño del icono */
    color: rgb(255, 255, 255); /* Color del icono */
    margin-left: 10px; /* Espacio entre el icono y el texto */
    position: absolute;
    top: 40%; /* Posiciona el texto 50% desde la parte superior */
    left:58%; /* Posiciona el texto 50% desde la izquierda */
  }
h3{
    max-width: 400px;
    font-size: 60px;
    font-weight: 900;
    color: #373737;
}